<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <input id= "current-display" class="form-control text-right input-lg" readonly value={{calculations.currentDisplay}}>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button {{action "clearDisplay"}} id="ac" class="btn btn-danger btn-block btn-lg">AC</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleOperationPress" "^"}} id="exponent" class="btn btn-warning btn-block btn-lg">**</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleSqrtPress"}} id="sqrt" class="btn btn-warning btn-block btn-lg">sqrt</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleSignPress"}} id="plus-minus" class="btn btn-warning btn-block btn-lg">+/-</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "7"}} id="7" class="btn btn-default btn-block btn-lg">7</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "8"}} id="8" class="btn btn-default btn-block btn-lg">8</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "9"}} id="9" class="btn btn-default btn-block btn-lg">9</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleOperationPress" "*"}} id="multiply" class="btn btn-warning btn-block btn-lg">*</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "4"}} id="4" class="btn btn-default btn-block btn-lg">4</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "5"}} id="5" class="btn btn-default btn-block btn-lg">5</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "6"}} id="6" class="btn btn-default btn-block btn-lg">6</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleOperationPress" "/"}} id="divide" class="btn btn-warning btn-block btn-lg">/</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "1"}} id="1" class="btn btn-default btn-block btn-lg">1</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "2"}} id="2" class="btn btn-default btn-block btn-lg">2</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "3"}} id="3" class="btn btn-default btn-block btn-lg">3</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleOperationPress" "+"}} id="add" class="btn btn-warning btn-block btn-lg">+</button>
        </div>
        <div class="col-xs-6">
          <button {{action "handleNumPress" "0"}} id="0" class="btn btn-default btn-block btn-lg">0</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleNumPress" "."}} id="decimal" class="btn btn-default btn-block btn-lg">.</button>
        </div>
        <div class="col-xs-3">
          <button {{action "handleOperationPress" "-"}} id="minus" class="btn btn-warning btn-block btn-lg">-</button>
        </div>
        <div class="col-xs-3 col-xs-offset-9">
          <button {{action "calculate"}} id="equals" class="btn btn-default btn-block btn-lg btn-primary">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-8 col-xl-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Current Calculation</h3>
      <input id= "current-calculation" class="form-control text-right input-lg" readonly value={{calculations.currentCalculation}}>
      <h3>Recent History</h3>
      <ul>
        {{#each calculations.pastCalculations as |pastCalculation|}}
          <li class="past-calculation">{{pastCalculation}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{outlet}}
